<launch>
      <!-- Set arguments -->
      <arg name="init_pose" />
      <arg name="robot_name" />
      <arg name="start" />

      <!-- Load robot description -->
      <rosparam file="$(find ssabot)/config/config.yaml" command="load" />

      <param name="robot_description"
            command="$(find xacro)/xacro --inorder $(find ssabot)/urdf/turtlebot3_waffle.urdf.xacro" />

      <!-- Spwan a robot into Gazebo -->
      <node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model"
            args="$(arg init_pose) -urdf -param robot_description -model $(arg robot_name)"
            respawn="false" />

      <node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false"
            output="screen"
            args="joint_state_controller
                      waffle_piston_controller" />
      <!-- Publich robot state -->
      <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher"
            output="screen">
            <param name="publish_frequency" type="double" value="50.0" />
            <param name="tf_prefix" value="$(arg robot_name)_tf" />
      </node>

      <node pkg='ssapang' type='waffle_control' name='waffle_control'
            args="$(arg robot_name) $(arg start)" output='screen' />
      <node pkg='ssapang' type='dijkstra.py' name='path_pub' output='screen' />
</launch>